<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCERfyU7Nh71MMu-T7FqXDFyeegNA8IBsM</string>
	<key>GCM_SENDER_ID</key>
	<string>929574555874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonasgrunau.gatherCompanion</string>
	<key>PROJECT_ID</key>
	<string>gather-companion</string>
	<key>STORAGE_BUCKET</key>
	<string>gather-companion.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929574555874:ios:c6f090973dc2dc6c528ebb</string>
</dict>
</plist>